<!DOCTYPE>
  <html>
    <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css"/>
    <script type="text/javascript">

    var imagenes = [ 'source/Indi1.png', 'source/Indi2.png', 'source/Indi3.png'];
    var uno = 0;
    function slide(){
        document.getElementById('fuente').src= imagenes[uno];
        uno++;
        if(uno==3)
        uno=0;
    }
    onload=function(){
      slide();
      setInterval(slide,5000);
    }

    </script>
    </head>
      <body>
        <header>
          <div id="Gen">
          <img class="P0" src="source/f1.png" alt="Naranja" />
          <img class="P2" src="source/LOGOLICEOHOWARDGARDNER.png" alt="Logo" height="180" width="280" />
          <img  class="P3" src="source/f2.png" alt="Blanc"/>
          <img class="P4" src="source/f3.png" alt="Narandos"/>
          <img class="P5" src="source/f4.png" alt="Fondo Principal"/>
          <img class="P7" src="source/f6.png" alt="Fondos Principal">
          <img class="P6" src="source/f5.png" alt="Fondo-blanc">
          <img class="P8" src="source/f7.png" alt="PdP">
        </div>
        <div class="Err1">
              <ul >
                <li><a class="h1" href="#" style="text-decoration: none; color: white">INICIO</a> </li>

                  <li><a class="h2" href="#" style="text-decoration: none ; color: white"> LICEO </a>
                    <ul>
                      <li><a class="Int1" style="text-decoration:none ; color: white " href="">Instalaciones </a></li>
                      <li><a class="Int2" style="text-decoration: none ; color: white" href="">Inscripciones</a></li>
                    </ul>
                  </li>
                    <li><a class="h3" href="" style="text-decoration: none; color: white " > SERVICIOS</a>
                    <ul>
                      <li><a class="Int3" style=" text-decoration: none; color : white" >Servicios Extracurriculares</a></li>
                    <li><a class="Int4" style=" text-decoration : none ; color : white" >Servicios Adicionales</a></li>
                    </ul>
                  </li>
                      <li><a class="h4" href="" style="text-decoration: none ; color: white"> CONTACTO</a> </li>
                        <li><a class="h5" href="" style="text-decoration: none ; color: white"> AVISOS </a></li>
              </ul>
            </div>
        </header>
        <section>
          <article>
          <div id="Principal">
            <img src="" id="fuente" style="height : 180px ; width : 180px;"/>
          </div>
          <div class="ArtUno">
          <a>Excellence, engagement and ethics</a><br>
          <a>Donde los retos nuevos son nuestra filosofía</a>
        </div>
        </article>
        </section>
      </body>
  </html>
