<html>
  <head>
    <meta charset="UTF-8">
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estiloLogin.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  </head>
  <body>
    
  <header>
    <div id="P">
      <a href="http://127.0.0.1:5000/" >
      <img class="p1"  src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" height="180" width="280" />
      </a>
      </div>
    <div id="Gen">
      <img class="p2" src="{{ url_for('static', filename='f1.png') }}" alt="Naranja" />
      <img class="P3" src="{{ url_for('static', filename='f2.png') }}" alt="Blanc"/>  
      <img class="P4" src="{{ url_for('static', filename='f3.png') }}" alt="Barra inferior"/> 
      <img class="P5" src="{{ url_for('static', filename='f7.png') }}" alt="Fondo Principal"/>
      <img class="P6" src="{{ url_for('static', filename='f6.png') }}" alt="cuadrado naranja"> 
    </div>

    <div class="ArtCero">
      <a>Inicia sesión para acceder a tus reservaciones y actividades !</a>
    </div>

    <div class="Err1">
      <ul >
        <li><a class="h1" href="http://127.0.0.1:5000/10" style="text-decoration: none; color: #DBD3D8">CheckRewards</a> </li>

          <li><a class="h2" href="#" style="text-decoration: none ; color: #DBD3D8"> Hostales </a>
            <ul>
              <li><a class="Int1" style="text-decoration:none ; color: #DBD3D8 " href="">Habitaciones</a></li>
              <li><a class="Int2" style="text-decoration: none ; color: #DBD3D8" href="">Actividades</a></li>
            </ul>
          </li>
            <li><a class="h3" href="" style="text-decoration: none; color: #DBD3D8 " >Servicios</a>
            <ul>
              <li><a class="Int3" href="" style=" text-decoration: none; color : #DBD3D8" >Eventos</a></li>
            <li><a class="Int4" href="" style=" text-decoration : none ; color : #DBD3D8" >Amenidades</a></li>
            </ul>
          </li>
              <li><a class="h4" href="#popFon" style="text-decoration: none ; color: #DBD3D8"> Contacto</a> </li>
                <li><a class="h5" href="http://127.0.0.1:5000/login/" style="text-decoration: none ; color: #DBD3D8"> Reservaciones </a></li>
      </ul>
    </div>
  </header>

  <section>
    <article>

    <div>
        <h1 id="Principal">INICIE SESIÓN</h1>
        <br>
        <form action="" method="post">
           <input type="password" placeholder="Contraseña" name="password" value="{{
            request.form.password }}" id="Principal3">
            <input type="email" placeholder="Correo" name="email" value="{{
            request.form.email }}" id="Principal4">
          <input class="btn btn-default" type="submit" value="Iniciar sesión" id="Principal5">
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>

    <div class="Art">
      <a>Check.in</a><br>
    </div>

    <div class="ArtUno">
    <a>Los mejores hostales</a><br> 
    <a>Al mejor precio</a>
  </div>

  <div class="ArtDos">
    <a>Reserva un hostal hoy mismo!</a><br>
    <a>Check.in te ayuda a encontrar las mejores</a><br>
    <a>opciones en hostales alrededor de todo el mundo.</a>
  </div>
  
  <div class="ArtTres">
  <a>* En algunos casos nos quedaremos con todo tu dinero porque si. Obtén más información en el sitio web.</a>
  <a>© 2022 Check.in es una empresa de Tlacuache Group. Todos los derechos reservados</a>
  <a>Check.in y el logotipo de Check.in son marcas comerciales o marcas registradas de Maldonado.com, LP en Yucatan y/u otras entidades. Las demás marcas registradas son propiedad de sus respectivos dueños.</a>
  <a>Ayudenme banda no he podido dormir bien y ya empiezo a alucinar con monas chinas</a>
</div>

<div class="ArtCuatro">
  <a href="#pop" style="color:#223843;">¿Olvidaste tu contraseña?</a>
</div>

<div class="ArtCinco">
  <a>Crea una cuenta hoy mismo y disfruta</a><br>
  <a>de mil y un beneficios con check.in™</a>
</div>

  </article>
        </section>
    <a href="http://127.0.0.1:5000/registro/">
  <button type="button" class="botonUno">Registrarse</button>
  </a>

  <a href="https://accounts.google.com/v3/signin/identifier?dsh=S671365897%3A1670922841743455&authuser=0&continue=https%3A%2F%2Fmail.google.com&ec=GAlAFw&hl=es-419&service=mail&flowName=GlifWebSignIn&flowEntry=AddSession">
  <button type="button" class="botonDos">
    <img src="{{ url_for('static', filename='google.jpg') }}" alt="google" width="15px" />
    Conectarse con Google</button>
  </a>

  <a href="https://appleid.apple.com/sign-in">
  <button type="button" class="botonCuatro">
    <img src="{{ url_for('static', filename='apple.png') }}" alt="google" width="15px" />
    Conectarse con Apple</button>
    </a>>
    
        <form action="#">
          <select name="idioma" id="idioma" class="idioma">
            <option value="español">Esp</option>
            <option value="inglés">Eng</option>
            <option value="日本">日本</option>
            <option value="UwU">UwU</option>
          </select>
        </form>

        <a href="http://127.0.0.1:5000/10pt2">
          <button type="button" class="botonTres">Favoritos ♥</button>
        </a>

        <div>
          <a href="#popFon" >
          <img class="fon"  src="{{ url_for('static', filename='fon.png') }}" alt="fon"  />
          </a>
          </div>

          <div id="popFon">
            <img class='fondoN' src="{{ url_for('static', filename='f10.png') }}" alt='Fondo-negro'>
            <div id="cuadroFon">
              <br>
                Bienvenido a nuestro<br>contacto en linea<br>
              <div class="cuerpoFon1">
                Grupo Tlacuache es una empresa comprometida en <br>
                resguardar y asegurar la información de sus clientes y <br>
                hacemos de su conocimiento que por ningún motivo le <br>
                solicitaremos datos confidenciales como número de <br>
                tarjetas de crédito y NSS por este medio. Le pedimos <br>
                por favor sólo proporcionarla por los medios provistos a<br>
                nuestros ejecutivos.
              </div>
              <div class="cuerpoFon2">
                WhatsApp: 5531768306
              </div>  
              <div class="cuerpoFon3">
                Correo: TlacuacheGroup@Maldo.com 
              </div> 
              <div class="cuerpoFon4">
                La información personal que nos proporciona será <br>
                utilizada para prestar los servicios que usted solicita. <br>
                Para mayor información acerca del tratamiento que <br>
                damos a la misma, Consulte nuestro Aviso de privacidad
              </div> 
              <a class='closeFon' href='#'>&times;</a>
            </div>
          </div>

          <div id="pop">
            <img class='P9' src="{{ url_for('static', filename='f5.png') }}" alt='Fondo-blanc'>
            <div id="cuadro">
              ‎ <br>‎ <br>Pues acuerdate de ella jaja. 
              <a class='close' href='#'>&times;</a>
            </div>
          </div>

        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

  </body>
</html>