<!doctype html>
<title>Successful login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1> Bienvenido Administrador!</h1>
  <ul>
      <li>Hello <span>{{ session.get('user_id') }}</span>
      <li><a href="{{ url_for('logout.logout') }}">Log Out</a>
  </ul>
</nav>
<section class="content">
  <header>
    <li>Crear reservacion<a href="{{ url_for('reservacion.crear_reservacion') }}">Crear reservacion</a>
    <br>
    <li>Consultar todas las reservaciones<a href="{{ url_for('reservacion.consultar_reservaciones') }}">Consultar reservacion</a>
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</section>
