<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear una reservación</title>
</head>
<body>
    
    <form action="" method="POST">
        <p>Hotel</p>
            {% for hostal in hostales %}
            <h2>Ingresa los siguientes campos para poder crear una reservacion</h2>
                <input type="radio" id="{{ hostal.nombre}}" name="hoteles" value="{{ hostal.idhostal}}">
                <label for="{{ hostal.nombre}}"> {{hostal.nombre}}</label><br>

            {% endfor %}

        <br>
        <label for="num_personas">Numero de personas</label>
        <input type="text" name="num_personas" id="num_personas" value="{{ request.form.num_personas }}">
        <br>
        <label for="inicio">Fecha de llegada</label>
        <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ request.form.fecha_inicio }}">
        <br>

        <label for="fin">Fecha de salida</label>
        <input type="date" name="fecha_salida" id="fecha_salida" value="{{request.form.fecha_salida}}">
        <br>

        <!--
        <input class="btn btn-default" type="submit" name="crear" id="crear" value="Crear">

        <br>
        /-->

        <!-- JAVASCRITP una vez más nos encontramos viejo enemigo/-->
        <button type="submit" onclick="displayRadioValue()">
            Crear
        </button>

        <br>

        <input type="hidden" id="result" name="hotel" value="">

        <script>
            function displayRadioValue() {
                document.getElementById("result").innerHTML = "";
                var ele = document.getElementsByName('hoteles');

                for(i = 0; i < ele.length; i++) {

                    if(ele[i].type="radio") {

                        if(ele[i].checked)
                            document.getElementById("result").value = ele[i].value;
                    }
                }
            }
        </script>
    </form>
    
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</body>
</html>
