<!doctype html>
<title>Reservations</title>
<body>
  <h1>Reservaciones registradas:</h1>
  {% for reservacion in consulta %}
      <div>
          <h5>{{ reservacion.hostal }}</h5>
          <p> Numero de personas:{{ reservacion.num_personas }}</p>
          <p> Fecha inicio:{{ reservacion.inicio }}</p>
          <p> Fecha salida:{{ reservacion.final}}</p>
      </div>
      <div>
          <a href="{{ url_for('reservacion.actualiza_reservacion', idresv=reservacion.idreservacion)}} ">Editar</a>
          <a href="{{ url_for('reservacion.elimina_reservacion', idresv=reservacion.idreservacion)}}">Eliminar</a>
      </div>
  {% endfor %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

</body>
